@charset "utf-8";

*{
	margin:0;
	padding:0;
	text-decoration:none;
	border:none;
	font-weight:normal;
	font-style:normal;
	outline:none;
	font-family:Titillium,Titillium-eot, Arial, Helvetica, sans-serif;
}
body{
	background:#fff;
}
@font-face {
	font-family: Titillium;
	src: url('../fonts/Titillium-Regular.otf');
}
@font-face {
	font-family: Titillium-eot;
	src: url('../fonts/titillium-regular-webfont.eot');
}
#panel{
	margin:auto;
	margin-top:10px;
	width:250px;
	border:1px solid #ccc;
	border-bottom:2px solid #ccc;
	background:#fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	position:relative;
}
#panel2{
	margin:auto;
	margin-top:10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	position:relative;
	text-align:center;
}
#panel > h2{
	font-size:20px;
	line-height:22px;
	padding:5px;
	color:#2D72CF;
}
#panel input,select{
	margin:5px;
	width:240px;
	padding:8px;
	border:1px solid #ccc;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-size:14px;
	color:#666;
}
#panel button{
	padding:5px;
	width:70px;
	margin:5px;
	background:#3593D7;
	border:1px solid #2E6A94;
	font-size:16px;
	line-height:18px;
	color:#fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	cursor:pointer;
	margin-left:175px;
}
#panel button:hover{
	background:#2D79B0;
}
#users{
	margin:auto;
	width:250px;
	margin-top:10px;
}
#users > ul{
	list-style:none;
}
#users > ul > li{
	width:calc(100% - 10px);
	padding:5px;
	display:block;
	font-size:15px;
	line-height:17px;
	color:#3593D7;
	border-bottom:2px solid #ddd;
	margin-top:5px;
	padding-bottom:8px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
#panel > p{
	font-size:14px;
	color:#BA2323;
	position:absolute;
	left:7px;
	top:220px;
}